.modal {
    background-color: rgba($color: darken($color: darkslategray, $amount: 10), $alpha: 0.85);
    position: fixed;
    height: 85%;
    width: 85%;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    animation: fade-fast 1s;
    z-index: 920;

    &--no-animation {
        animation: none !important;
        transition: none;
    }

    &--content {
        font-size: 1.5rem;
        text-align: center;
    }

    &--background {
        background-color: rgba($color: black, $alpha: 0.1);
        position: fixed;
        height: 100vh;
        width: 100vw;
        padding: 10px;
    }

    &--close {
        position: absolute;
        top: .5rem;
        right: .1rem;
        font-size: 4.5rem;
        cursor: pointer;
        transition-duration: 0.2s;
        font-weight: bold;
        z-index: 925;
        color: white;
    }
}

@keyframes fade-fast {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}