.mode-chooser {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    .radio {
        :not(:last-child) {
            padding-left: 2rem;
        }
        padding-left: 4rem;

    }
    @include small {
        height: 10vw;
    }

    @include small2x {
        height: 10vw * 2;
    }

    @include medium {
        height: 5vw;
    }


}
