.modal-stream {
    position: fixed;
    height: 100vh;
    width: 100vw;
    transition: all .2s;
    z-index: 99990;
    background-color: rgba(black, 0.75);
    animation: moveInBottom 1s;

    &--preventFlip {
        animation: moveInBottom .5s !important;
    }

    &--message {
        @include absCenter;
        font-size: 5rem;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        display: inline-block;
        letter-spacing: 0.2rem;
        color: $green;
    }

    &--remove {
        animation: fadeOut 1s;

        &__preventFlip {
            animation: fadeOut .5s;
        }
    }
}

